h1 h2 h3 {
    text-align: center;
    color: rgb(90, 33, 160);
    font-size: 165px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    background-color: rgb(86, 86, 86) (91, 124, 124);
    text-align: center;
    font-size: 25px;

}